# ONLY EARLY DEVELOPMENT
ACCESS_TOKEN=

# "horin/yaban (https://github.com/liuhq/YABan)" (default)
USER_AGENT=

## Bangumi client
BANGUMI_CLIENT_ID=
BANGUMI_CLIENT_SECRET=
BANGUMI_REDIRECT_URI=
# separated by commas `,`
BANGUMI_OAUTH_SCOPE=

# separated by commas `,`
SESSION_COOKIE_SECRETS=

## Valkey
# 127.0.0.1 (default)
VALKEY_HOST=
# 6379 (default)
VALKEY_PORT=
VALKEY_USERNAME=
VALKEY_PASSWORD=
# true | false (default)
VALKEY_TLS=
# 0 (default)
VALKEY_DATABASE=
# 250 (default)
VALKEY_REQUEST_TIMEOUT_MS=
# yaban: (default)
VALKEY_KEY_PREFIX=
